/* font faces */
@font-face {
  font-family: "CircularStd-Black";
  src: url(../fonts/CircularStd-Black.otf);
}
@font-face {
  font-family: "CircularStd-Bold";
  src: url(../fonts/CircularStd-Bold.otf);
}
@font-face {
  font-family: "CircularStd-Medium";
  src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: "CircularStd-Book";
  src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: "Dosis-Bold";
  src: url(../fonts/Dosis-Bold.ttf);
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url(../fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(../fonts/Montserrat-Light.ttf);
}
/* End of font face */

/* Font styles */

.std-black {
  font-family: "CircularStd-Black", sans-serif;
}
.std-bold {
  font-family: "CircularStd-Bold", sans-serif;
}
.std-medium {
  font-family: "CircularStd-Medium", sans-serif;
}
.std-book {
  font-family: "CircularStd-Book", sans-serif;
}
.monst-light {
  font-family: "Montserrat-Light";
}
/* End of font styles */

/* navbar styles */
.icharge-nav li a {
  font-family: "Ubuntu-Medium" !important;
  color: #ffffff;
}
/* end of navbar styles */

/* text colors */
.disabled {
  color: #343434;
}
/* End of text colors */

body {
  font-size: 0.8rem;
  font-family: "Montserrat-Light";
}
#home {
  background-image: url(/img/banner.jpg);
  background-size: cover;
}
.text-gradient {
  font-size: 3.5rem;
  background: linear-gradient(to right, #a8cf3a 35%, #41bca8 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Dosis-Bold";
}
.letter-spacing-sm {
  letter-spacing: 2px;
}
.ingr-head {
  font-size: 1.125rem;
}

 .ingr-head:first-child {
  letter-spacing: 1.3rem;
}

.animate-move {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}
.bottom-0 {
  bottom: 0;
}
.purchase-btn {
  background: linear-gradient(to right, #a8cf3a, #41bca8);
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.overlap-can {
  position: absolute;
  top: 25%;
  right: 3%;
}

#recharge-and-conquer {
background-color:#212121;
}

body {
  color: #ffffff;
  font-family: "Montserrat-Light";
  font-size: 0.8rem;
}

h1 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.second h1,
.benefits h1,
.company h1,
.references h1 {
  font-size: 2rem;
  letter-spacing: 4.3px;
}

hr {
  border-color: #3eb6d5;
  width: 3%;
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.conquer-hr {
  position: relative;
  width: 80%;
  left: 0;
  margin-left: 0;
}

.eight-hr {
  position: relative;
  width: 40%;
  left: auto;
}

.contact-seller-button,
.contact-seller-button:hover{
  color: #ffffff;
  background-color: #070707;
}

.second .contact-seller-button {
  background-color: #303030;
}

.contact-seller {
  background: linear-gradient(to right, #a8cf3a, #41bca8);
  padding: 0.12rem;
}

.form-send {
  background: linear-gradient(to right, #a8cf3a, #41bca8);
  padding: 0.12rem;
  width: fit-content;
}

.contact-section h1 {
  color: #393a3a;
  font-size: 2rem;
  letter-spacing: 1rem;
}

@media screen and (max-width:425px) {
  .contact-section h1 {
    letter-spacing: 1rem;
  }
}
.contact-section input,
.contact-section textarea {
  background-color: transparent;
  border-bottom: 1px solid #3eb6d5 !important;
  color: #616161;
}

.contact-section input:focus,
.contact-section textarea:focus {
  background-color: transparent;
  box-shadow: none;
} 

.contact-section .details {
  color: #616161;
  font-size: 1rem;
}

.footer,
.footer a {
  color: #434343;
  font-size: 0.7rem;
}

.footer h6 {
  color: #8c8e8f;
}

.fa-facebook {
  color: #B5D652;
}

.fa-twitter {
  color: #8FD185;
}

.fa-instagram {
  color: #45C9E2;
}

.fa-linkedin {
  color: #45C9E2;
}

@media only screen and (max-width:425px){
  .contact-section h1 {
    font-size: 2rem;
  }
  .second h1{
    font-size: 1.25rem;
  }
}

li {
  color:#B5D652;
  }
  li p {color: #fff;}

      @media only screen and (max-width:900px){
        
        .ingr-head {
          font-size: 0.8rem !important;
        }
        .fourth .ingr-head:first-child {
          letter-spacing: 1rem;
        }
        .man {
          width:80%;
        }
        .text-gradient {
          font-size: 2.5rem;}
          .hide {
            overflow-x:hidden !important;
          }
          html { overflow-x: hidden !important; }
          body { overflow-x: hidden !important; }

          body {
            background: -webkit-gradient(linear,  top,  bottom, from(#19191a), to(#19191a)) no-repeat;
            background: -webkit-linear-gradient(#262527, #19191a) no-repeat;
           
          }
      }

      @media only screen and (min-width:1024px){

      .fullpage-wrapper {
        width: 100%!important;
        transform: none!important;
      }
      .fp-section 
      {
        width: 100%!important;
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        transition: all 0s ease;
      }
      
      .fp-section.active {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }

    }
       
        @media (min-width:768px) and (max-width:1024px){
          .man {
            width:98%;
          }
        }
        .font-8{
          font-size:0.9rem;
        }

        .third {
          background-color: #1d1d1d;
        }
        
        .fourth,
        .fifth,
        .sixth,
        .seventh {
          background-color: #171717;
        }
        
        .eight {
          background-color: #111111;
        }
        
        .company,
        .references,
         .benefits
         {
          background-color: #0f0f0f;}
        
          /* .contact-section {
            background: linear-gradient(to bottom, #0b0b0b 0%, #0b0b0b 58%, #000000 58%, #000000 100% );} */
       

        a {
    text-decoration: none !important;
}

