/* Font import starts */
@font-face {
  font-family: "CircularStd-Bold";
  src: url(../fonts/CircularStd-Bold.otf);
}
@font-face {
  font-family: "CircularStd-Black";
  src: url(../fonts/CircularStd-Black.otf);
}
@font-face {
  font-family: "CircularStd-Book";
  src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: "CircularStd-Medium";
  src: url(../fonts/CircularStd-Medium.otf);
}
.CircularStd-Bold {
  font-family: "CircularStd-Bold";
}
.CircularStd-Black{
  font-family:"CircularStd-Black";
}
.CircularStd-Book {
  font-family: "CircularStd-Book";
}
.CircularStd-Medium {
  font-family: "CircularStd-Medium";
}

/* End of Font import */
.lap {
  background-color: #0e0e0e;
}
.banner  {
  background: url("../img/banner.png") center;
  min-height:11vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-heading {
  letter-spacing: 2.2px;
  font-family: "CircularStd-Black";
  font-size:1.3rem;
}

.nav-link {
  font-size: .74rem;
  font-weight: 500;
  letter-spacing: .9px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:500;
}
.active {
  color: green;
}
.gradient-head {
  background: linear-gradient(to right, #a8cf3a 20%, #41bca8 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Dosis', sans-serif; 
  font-weight:700;
}

.icharge-desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.28;
}

.ingredients {
  letter-spacing: 10.4px;
}

.font-8 {
  font-size: .8rem;
}

.font-9 {
  font-size: .9rem;
}

.small-bb {
  position: relative;
  font-size: .8rem;
  font-family:"CircularStd-Medium";
  letter-spacing: 2px;
}

.small-bb::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#a8cf3a), to(#41bca8));
  background: -webkit-linear-gradient(left, #a8cf3a, #41bca8);
  background: -o-linear-gradient(left, #a8cf3a, #41bca8);
  background: linear-gradient(90deg, #a8cf3a, #41bca8);
}
.expand {
  color:#343434;
  font-family: "CircularStd-Medium";
  font-size:0.7rem;
  letter-spacing:1px;
}

.head-abs h4 {
  padding: .75rem 0;
  display: inline;
  position: relative;
  letter-spacing: 3.2px;
  font-size:1.5rem;
}

.head-abs h4::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 75%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#a8cf3a), to(#41bca8));
  background: -webkit-linear-gradient(left, #a8cf3a, #41bca8);
  background: -o-linear-gradient(left, #a8cf3a, #41bca8);
  background: linear-gradient(90deg, #a8cf3a, #41bca8);
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.font-7 {
  font-size: .7rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.purchase-btn {
  background: -webkit-gradient(linear, left top, right top, from(#a8cf3a), to(#41bca8));
  background: -webkit-linear-gradient(left, #a8cf3a, #41bca8);
  background: -o-linear-gradient(left, #a8cf3a, #41bca8);
  background: linear-gradient(90deg, #a8cf3a, #41bca8);
  color: #070707;
  font-weight: bold;
  letter-spacing: 1.48px;
  font-size: 1em;
}

.purchase-btn:hover {
  text-decoration: none;
  color: #070707;
}

.contact-text {
  font-size: .8rem;
  color: #616161;
}

.form-group {
  position: relative;
}

.form-group::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#a8cf3a), to(#41bca8));
  background: -webkit-linear-gradient(left, #a8cf3a, #41bca8);
  background: -o-linear-gradient(left, #a8cf3a, #41bca8);
  background: linear-gradient(90deg, #a8cf3a, #41bca8);
}

.form-control {
  font-size: .85rem;
  letter-spacing: .58px;
  background: transparent;
  border-radius: 0;
}

.form-control:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
  background: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #616161;
}

.form-control:-ms-input-placeholder {
  color: #616161;
}

.form-control::-ms-input-placeholder {
  color: #616161;
}

.form-control::placeholder {
  color: #616161;
}

.gradient-btn {
  -webkit-transition: 100ms ease-in;
  -o-transition: 100ms ease-in;
  transition: 100ms ease-in;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  padding: 1rem;
  font-size: .9rem;
  letter-spacing: .48px;
  padding: .5rem 2rem;
  border: solid 2px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#a8cf3a), to(#41bca8));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), -webkit-linear-gradient(left, #a8cf3a, #41bca8);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), -o-linear-gradient(left, #a8cf3a, #41bca8);
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #a8cf3a, #41bca8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #070707 inset;
  box-shadow: 2px 1000px 1px #070707 inset;
}

.gradient-btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
}

.grad-btn-0A0A0A {
  -webkit-box-shadow: 2px 1000px 1px #191919 inset;
  box-shadow: 2px 1000px 1px #191919 inset;
}

.grad-btn-0A0A0A:hover {
  text-decoration: none;
}

.grad-btn-515151 {
  -webkit-box-shadow: 2px 1000px 1px #515151 inset;
  box-shadow: 2px 1000px 1px #515151 inset;
}

.grad-btn-515151:hover {
  text-decoration: none;
}

footer {
  background-color: #030303;
}

footer h6 {
  letter-spacing: 1.26px;
  font-size: .8rem;
  font-weight: bold;
  color: #8c8e8f;
}

footer a {
  font-size: .95rem;
  color: #434343;
  -webkit-transition: 100ms ease-in;
  -o-transition: 100ms ease-in;
  transition: 100ms ease-in;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer .copy-text {
  color: #434343;
  font-size: .75rem;
}
.sub-heading {
  font-size:0.9rem;
  font-family:"CircularStd-Medium";
  line-height:2rem;
  letter-spacing: 1px;
}
.border-desk {
  position: relative;
  font-size: .8rem;
}

.border-desk::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 2%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#a8cf3a), to(#41bca8));
  background: -webkit-linear-gradient(left, #a8cf3a, #41bca8);
  background: -o-linear-gradient(left, #a8cf3a, #41bca8);
  background: linear-gradient(90deg, #a8cf3a, #41bca8);
}
.bg-head {
  background-color: #000;
}
.bg-foot {
  color:#fff;
}
li {
color:#41bca8;
}
li p {color: #fff;}

.footer a ,span {
  color: #41bca8;
}
.desk {
  top:28%;
}

@media only screen and (min-width: 1400px) {
  
   .desk {
     top:38%;
   }
   .conquer {
    padding-top:8rem;
  }
}  
@media (min-width: 992px) and (max-width:1024px) {
  .desk {
    top:39%;
  }
  .conquer {
   padding-top:8rem;
 }
}
@media (min-width: 600px) and (max-width:992px) {
  .desk {
    top:39%;
  }
  .conquer {
   padding-top:8rem;
 }
}
@media (max-width: 575.98px) {
  .response {
    display: none !important;
  }
  .references {
    overflow-y: scroll;
    height: 300px;
  }
  
  .references::-webkit-scrollbar {
    width: 5px;
  }
  
  .references::-webkit-scrollbar-track {
    border-radius: 20rem;
    background: #272727;
  }
  
  .references::-webkit-scrollbar-thumb {
    border-radius: 20rem;
    background-color: #9dff89;
  }
}
